@import '../defaults/_variables';
@import './_typography';

/* ------------------------------------------------------------ *\
	base
\* ------------------------------------------------------------ */
html {
    scroll-behavior: smooth;
}


body {
    min-width: 320px;
    @include fontDefault;
    color: $black;
    overflow-x: hidden;

    img {
        pointer-events: none;
    }
}

/* ------------------------------------------------------------ *\
	shell
\* ------------------------------------------------------------ */
.shell {
    max-width: 1360px;
    margin: 0 auto;

    /* Mobile */
    @media (max-width: 767px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ------------------------------------------------------------ *\
	wrapper
\* ------------------------------------------------------------ */
.wrapper {
    min-height: 100vh;

    /* Tablet Portrait */
    @media (max-width: 1023px) {
        overflow: hidden;
    }
}
