.menu{
  background: url('@/assets/icons/icon-menu.svg') no-repeat center center;
  padding: 10px;
  margin-right: 19px;
}

.logo-mobile{
  background: url('@/assets/icons/logo-mobile.svg') no-repeat center ;
  padding: 10px 50px;
  width: 110px;
  height: 11px;
}


.logo-desktop{
  background: url('@/assets/icons/logo-desktop.svg') no-repeat center ;
  padding: 10px 48px;
  background-size: contain;
  width: 93px;
  height: 11px;
}
.search{
  background: url('@/assets/icons/search.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
  margin-right: 40px;
}

.account{
  background: url('@/assets/icons/account.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.bag{
  background: url('@/assets/icons/bag.svg') no-repeat center ;
  padding: 9px 10px 10px 16px;
  width: 110px;
  height: 11px;
}

.heart{
  background: url('@/assets/icons/heart.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}
.wishlist{
  background: url('@/assets/icons/wishlist.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}


.facebook{
  background: url('@/assets/icons/facebook.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.linkedin{
  background: url('@/assets/icons/linkedin.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.instagram{
  background: url('@/assets/icons/instagram.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.youtube{
  background: url('@/assets/icons/youtube.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.visa{
  background: url('@/assets/icons/visa.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.master{
  background: url('@/assets/icons/master.svg') no-repeat center ;
  padding: 10px 20px;
  width: 110px;
  height: 11px;
}

.vtex{
  background: url('@/assets/icons/vtex.svg') no-repeat left ;
  padding: 10px  46px;
  width: 100px;
  height: 11px;
  margin-top: 3.48px;
}

.maeztra{
  background: url('@/assets/icons/maeztra.svg') no-repeat center ;
  padding: 10px 65px;
  width: 110px;
  height: 11px;
  margin-top: 3.48px;
}